.container {
  max-width: 420px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  color: #FF0000;
}

/* ITEM */
.item {
  display: flex;
  gap: 12px;
  align-items: center;
  background: #ffc9cb; /* 🎨 Rosa Glamour */
  padding: 12px;
  border-radius: 14px;
  margin-bottom: 12px;
}

.img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  background: transparent;
}

.info {
  flex: 1;
  font-size: 14px;
  color: #444; 
  text-align: left;
}

.name { font-weight: 600; color: #FF0000; }
.price { font-weight: 500; margin-top: 4px; }

.remove {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
}

.total {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: right;
  color: #FF0000;
}

.actions { display: flex; gap: 10px; margin-top: 20px; }

.clear {
  flex: 1;
  background: #eee;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.checkout {
  flex: 1;
  background: #FF0000; /* 🎨 Rojo */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.envio { color: #ff9c9f; font-weight: bold; }
.subtotal { font-size: 16px; font-weight: bold; color: #FF0000; }